.listJobByCompany{
    display: flex;
    flex-wrap: wrap;
}

.listJobByCompany .job{
    width: calc(100%/3 - 24px);
    margin-top: 24px;
    margin-left: 24px;
    &:first-child{
        margin-left: 0;
    }
}