.home{
    padding-bottom: 64px;
    & h1{
        margin: 0;
        font-size: 48px;
    }
    &__title{
        padding: 32px;
        text-align: center;
        &--gradient{
            background: linear-gradient(90deg, #0e2691 0%, hsl(209, 81%, 46%) 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }
    }
    &__search{
        display: flex;
        justify-content: center;
    }
    &__form-search{
        justify-content: center;
        width: fit-content;
        padding: 24px;
        border-radius: 8px;
        background-color: white;
        box-shadow: 2px 8px 16px rgb(0 0 0 / 10%);
    }
    &__list{
        margin-top: 64px;
        display: flex;
        justify-content: space-between;
        &-item{
            background-color: white;
            width: calc(100%/4 - 32px);
            box-shadow: 2px 2px 8px rgb(0 0 0 / 10%);
            text-align: center;
            padding: 32px 0;
            border-radius: 10px;
            &__number{
                font-size: 32px;
                font-weight: bolder;
                background: linear-gradient(135deg, #870080 0%, hsl(230, 100%, 56%) 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
            }
            &__text{
                margin-top: 8px;
                font-size: 16px;
                font-weight: 500;
                color: gray;
            }
        }
        
    }

    &__list-company{
        margin-top: 32px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        &__item{
            width: calc(100%/3 - 24px);
            margin-bottom: 24px;
        }
    }
    &__list-jobs{
        &__title{
            margin-top: 64px;
            & h2{
                color: #00198a;
                margin-bottom: 8px;
            }
            & p{
                margin: 0;
                margin-bottom: 24px;
                font-style: italic;
                color: gray;
                font-size: 14px;
            }
        }
        &__content{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        &__item{
            width: calc(100%/3 - 24px);
            margin-bottom: 24px;
        }
    }

    &__tags{
        margin-top: 32px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        &__item{
            font-size: 16px;
            padding: 8px 12px;
            margin: 4px;
            cursor: pointer;

            & a{
                color: rgb(171, 0, 97);
            }
        }
    }
}


