.header{
    display: flex;
    justify-content: space-between;
    color: #4096ff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 32px 64px;
    box-shadow: 0px 2px 8px #e0ecff;
    background-color: #fffffff4;
    z-index: 1000;
    align-items: center;
    &__logo{
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    &__icon{
        margin-right: 6px;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        font-size: 20px;
        background-color: #4096ff;
        color: white;
    }
    &__title{
        margin: 0;
    }
    &__signin-btn{
        margin-right: 16px;
    }
}